<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-sm-offset-3">
        <h3 class="page-header text-center">Sign Up</h3>
        <div id="deviseForm">
          <%= render 'form' %>  
        </div>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</section>